.bio-banner-container {
    height: 20rem;
    width: 70%;
    margin: 0 auto;
    background-image: linear-gradient(to right, white, #E5E6E4, white);
}

.bio-banner-title {
    font-family: 'Alegreya SC', serif;
    font-size: 3rem;
    color:  white;
    text-shadow: #847577 1px 0 10px;
    padding-top: 12%;
}