.bio-container {
    display: flex;
    height: 79vh;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.bio-pic-container {
    width: 90%;
    display: flex;
}

.bio-pic {
   width: 40%;
   height: 40%;
   border-radius: 4px;
   margin-right: 5%; 
}

.bio-pic-text {
    width: 800px;
    height: 440px;
    margin: 0 auto;
    font-family: 'Cutive Mono', monospace;
    overflow: scroll;
    
}