.home-container {
    display: flex;
    height: 79vh;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.home-pic-container{
    width: 70%;
    display: flex;
}

.home-pic {
    width: 40%;
    height: 40%;
    border-radius: 4px;
    margin-right: 13%;
}

.home-pic-text {
    font-size: 1.5rem;
    width: 40%;
    margin: 0 auto;
    padding-top: 8%;
    font-family: 'Cutive Mono', monospace;
}

.home-author {
    font-size: 1rem;
    color: #CFC9CA;
    padding-top: 5%;
    padding-left: 40%;

}

@media screen and (max-width: 900px) {
    .home-container {
        margin-top: 13%;
    }

    .home-pic-container {
        flex-wrap: wrap;
    }

    .home-pic {
        margin-left: 25%;
        width: 50%;
        height: 40%;
    }

    .home-pic-text {
        width: 600px;
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .home-author {
        padding-left: 30%;
        padding-top: 2%;
    }
}