.navbar {
    background: linear-gradient(90deg, rgb(132, 117, 119) 0%, rgb(108, 96, 98) 100%);
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: 'Josefin Slab', serif;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-logo {
    color: #FBFBF2;
    justify-self: start;
    padding-right: 3rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Alegreya SC', serif;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.navbar-logo span {
    font-size: 1rem;
    padding-left: 10%;
}

.navbar-logo div {
    padding-left: 13.7%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: end;
    margin-right: 0rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 70px;
}

.nav-links {
    color: #FBFBF2;
    text-decoration: none;
    margin-top: .3rem;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #564D4F;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #FBFBF2;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1018px) {
    .NavbarItems {
        position: relative;
    }

    .navbar {
        margin-bottom: 5%;
        height: 80px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95vh;
        position: absolute;
        top: 15vh;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: linear-gradient(90deg, rgb(132, 117, 119) 0%, rgb(108, 96, 98) 10%);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #847577;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 2.5rem;
        transform: translate(-100%, 70%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #FBFBF2;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #847577;
        text-decoration: none;
        color: #FBFBF2;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #FBFBF2;
        color: #847577;
        transition: 250ms;
    }

    
}